<%- include('partials/header') %>


<h1 class="contact_page-title programmes-image"><%=programme.name%></h1>

<main class="main-program">
    <div class="main-program-description">
        <div class="main-program-image">
            <img src="<%=programme.photo%>" alt="">
        </div>
        <div class="programme-description-link">
            <p><%=programme.description%></p>
            <a href="/contacts">En savoir plus</a>
        </div>

    </div>
</main>

<%- include('partials/footer') %>
